name: Docker Build

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    uses: acvigue/.github/.github/workflows/docker_build.yml@main
    with:
      image_name: ${{ github.repository }}
      platforms: "linux/amd64,linux/arm64"
      push: true
